# FastAPI and FastUI
fastapi
fastui[fastapi]
uvicorn

# Database
psycopg2-binary

# LlamaIndex and related packages
llama-index
llama-index-readers-file
llama-index-vector-stores-postgres
llama-index-embeddings-openai
llama-index-embeddings-ollama
llama-index-embeddings-bedrock
llama-index-llms-litellm

# Utilities
pydantic
PyYAML
rich
python-dotenv
python-multipart

# Document processing
pypdf
python-docx
